h1{
    font-family: "DynaPuff";
    
    max-width: 1100px;
    max-height: 1100px;
    width: 50%;
}
h2{font-family:"DynaPuff";}



.recette__img{
    display: block;
    width: 30%;
    object-fit: cover;
    transform: rotate(5deg);
}
.recette__img img:hover{
    transition: rotate(0deg);
}
.recette{
   display: flex;
   flex-direction: column-reverse;
}

.recette__article{
    flex-grow:1;
    flex-shrink: 0;
    flex-basis : 100px;

}
.recette__article p{
    line-height: 1.5rem;
    font-size: 1.1rem;
}

.recette__figure{
    
    flex-grow:1;
    flex-shrink: 0;
    flex-basis : 150px;
     


}
.recette__figure img{
    padding: 10px;
    border:2px solid grey;
    display: block;
    width: 30%;
    object-fit: cover;
}

.recette__div{
   /*gauche droite avec les images*/
   /* fait une classe différente pour chaque image*/
    flex-direction: row;
    flex-direction: row-reverse;
    
}
 figcaption{
    transform: rotate(5deg);
    

    

}
.dot{
    background-color: #44444400;
}



.bouton__home{
    position: fixed;
    bottom: 10px;
    right: 0;
    width: 400px;
}
.bouton__home{
    text-decoration: none;
    display: inline-block;
    border: 1px solid gray;
}

.bouton__home a:link{
    padding: 3px 5px;
    color: #444;
    font-size: 2rem;
    background-color: rgb(84, 110, 226);

    
    
}
.bouton__home a:visited{
    color: #ffffff;
    background-color: blue;
   
}
.bouton__home a:hover{
    color: rgb(0, 0, 0);
    background-color: yellow;
   
}
.bouton__home a:active{
    color: white;
    background-color: black
   
}
.global{
    background-color: yellow;
}






